/* Mini reset */
* {
    font-size: 100%;
    font-style: normal;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* Estilo do body e da div que causa o glass effect */
body{
    background: url("../Midias/background_menu.png") center no-repeat;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#glassEffect{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
    background-color: rgba(255, 255, 255, 0.122);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
}
/* Estilo das linhas de divisão */
.divLine{
    width: 85%;
    height: 3px;
    border-radius: 3px;
    background-color:#212529;
    margin: 4% auto;
    box-shadow: #00000087 0 2px 5px;
}

/* Estilo do cabeçalho */
#mainHeaderContainer{
    background-color: #f06c00;
    border-bottom: #212529 3px solid;
}
#titleContainer h1{
    font-size: 1.8rem;
    color: #fff;
    text-shadow: #fff 0 0 10px;
}
#titleContainer h2{
    font-size: 1.3rem;
    color: #000;
    margin: 5px 0 0 0;
}
#fatecTitle{
    color: #fff;
    text-shadow: #fa4a4a 0 0 10px;
}
#lifeTitle{
    color: #fff;
    text-shadow: #ff7300 0 0 5px;
}

/* Estilo da navbar */
#sessionsContainer{
    width: 100%;
    background-color: #fff;
    box-shadow: #00000087 0 2px 5px;
    border-bottom: #212529 3px solid;
    padding: 0 6%;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}
#logosContainer{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: end;
    width: fit-content;
    gap: 1.5rem;
}
#logosContainer navbar-brand{
    margin: 0;
}
#logosContainer img:nth-child(1){
    width: 3rem;
}
#logosContainer img:nth-child(2){
    width: 4.5rem;
}
#sessionsContainer a:not(#logosContainer), #sessionsContainer a:not(#logosContainer):visited{
    color: #000;
    font-size: 1.0rem;
    font-weight: bolder;
}
#sessionsContainer a:not(#logosContainer):hover{
    color: #f06c00;
    text-shadow: #f95252 0 0 5px;
}

/* Estilo geral das sessões */
#aboutContainer, #membersContainer, #technologiesContainer{
    margin: 3rem auto;
    width: 90%;
    scroll-margin-top: 5rem;
}
#aboutContainer h3, #membersContainer h3, #technologiesContainer h3{
    font-size: 1.6rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 2% ;
}

/* Estilo da sessão Integrantes */
#membersContainer h4{
    font-size: 1.4rem;
    margin: 3% auto 0 auto;
}
#membersContainer span{
    font-weight: bolder;
}
#membersContainer .list-group-item{
    background: #ffffff50;
    margin-top: 1%;
    border-radius: 7px;
}
.membersLinks{
    display: flex;
    flex-flow: row nowrap;
    gap: 5%;
    list-style: none;
    margin: 0.5% 0 0 5%; 
}
.membersLinks::before{
    content: "Links:";
}
.membersLinks a, .membersLinks a:visited{
    color: #f12525;
    text-decoration: none;
}
.membersLinks a:hover{
    color: #fff;
    text-shadow: #fe0000 2px 0 10px;
}

/* Estilo da sessão Tecnologias */
#technologiesContainer .list-group-item{
    background: #ffffff50;
    margin-top: 1%;
    border-radius: 7px;
}


/* Estilo para Responsividade */
@media (max-width: 480px){
    .list-group-item{
        margin-top: 3%;
    }
}
